<form class="form-item-control border-0 m-2" method="post" action="/cart">
    <input type="hidden" value="<%= products.id %>" name="cart" id="cart">
    <button class="cart btn btn-outline-dark m-0" type="submit">add to cart</button>
</form>

