<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid px-4 px-lg-5">
  <a  href="/">    <img src="images/logo.jpg" alt="Logo" width="100"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">shop</a></li>
              <li class="nav-item"><a class="nav-link" href="/checkout">checkout</a></li>
              <li class="nav-item"><a class="nav-link" href="/cart">cart</a></li>
              <li class="nav-item"><a class="nav-link" href="/orders">orders</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin Products</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/admin/products">products</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="/admin/add">Add Products</a></li>
                      <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                  </ul>
              </li>
          </ul>
          <form class="">
            <div class="mt-10">
              <button class="btn btn-outline-dark cart  float-right" type="submit">
                <i class="bi-cart-fill me-10"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
            </div>
            
          </form>
      </div>
  </div>
</nav>